---
import { getCollection } from 'astro:content';
import Document from '@src/layouts/Document.astro';
import BaseHead from '@src/components/BaseHead.astro';
import Header from '@src/components/Header.astro';
import Footer from '@src/components/Footer.astro';

export async function getStaticPaths() {
  const pageEntries = await getCollection('pages');

  return pageEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description } = entry.data;
const { Content } = await entry.render();
---
<Document>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />

    <main>
      <article>
        <h1>{title}</h1>

        <Content />
      </article>
    </main>

    <Footer />
  </body>
</Document>