---
import { getEntry } from 'astro:content';
import Document from '@src/layouts/Document.astro';
import BaseHead from '@src/components/BaseHead.astro';
import Header from '@src/components/Header.astro';
import Footer from '@src/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';

const entry = await getEntry('pages', 'home');
const { Content } = await entry.render();
---

<Document>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <Content />
    </main>
    <Footer />
  </body>
</Document>
